extends layout

block content
	script(src='/javascripts/main.js')
	div(class="middle")
		div.page-title
			Polls Site
		div.page-subtitle
			Look and Vote!
		div(class="chart-container")
			div(id="top-row" class="row")
			div(id="bottom-row" class="row")
